# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Notebook / editor cache
.ipynb_checkpoints/
.vscode/
.idea/

# Dataset folders
train/
val/

# Model weights and training outputs
*.pt
!best.pt
*.onnx
*.engine
runs/

# Logs
*.log
